<%= form_with(model: represent, local: true) do |form| %>
  <% if represent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(represent.errors.count, "error") %> prohibited this represent from being saved:</h2>

      <ul>
      <% represent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :course_id %>
    <%= form.number_field :course_id %>
  </div>

  <div class="field">
    <%= form.label :tag_id %>
    <%= form.number_field :tag_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
