<p id="notice"><%= notice %></p>
<div class="text-center">
  <h1>Represents</h1>
</div>

<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th scope="col">Course</th>
      <th scope="col">Tag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @represents.each do |represent| %>
      <tr scope="row">
        <td><%= represent.course_id %></td>
        <td><%= represent.tag_id %></td>
        <td><%= link_to 'Show', represent %></td>
        <td><%= link_to 'Edit', edit_represent_path(represent) %></td>
        <td><%= link_to 'Destroy', represent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Represent', new_represent_path %>
