<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @represent.course_id %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @represent.tag_id %>
</p>

<%= link_to 'Edit', edit_represent_path(@represent) %> |
<%= link_to 'Back', represents_path %>
