<%= form_with(model: service, local: true) do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="text-center">
            <h3><i class="fas fa-pencil-alt"></i> <%= @service.name %></h3>
          </div>
        </div>

        <div class="card-body text-white bg-dark scroll scroll-x">
          <div class="form-group">
            <div class="field">
              <%= form.label :name %>
              <%= form.text_field :name, :class => 'form-control'%>
            </div>

            <div class="field">
              <%= form.label :office %>
              <%= form.text_field :office, :class => 'form-control'%>
            </div>

            <div class="field">
              <%= form.label :site %>
              <%= form.text_field :site, :class => 'form-control'%>
            </div>

            <div class="field">
              <%= form.label :latitude %>
              <%= form.text_field :latitude, :class => 'form-control'%>
            </div>

            <div class="field">
              <%= form.label :longitude %>
              <%= form.text_field :longitude, :class => 'form-control'%>
            </div>

            <div class="actions">
              <%= form.submit :class => 'btn btn-secondary'  %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
