<% if current_user %> 
  <div class="row">
    <div class="col-sm-12">
      <div class="card bg-dark">
        <div class="text-center text-white card-header bg-dark">
          <h1><i class="fas fa-cogs"></i> Manage services</h1>
        </div>
      </div>
      <hr>
      <div class="scroll-tab scroll-x-tab">
        <p id="notice"><%= notice %></p>
        <div class="table-responsive">
          <table class="table table-striped table-dark">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Office</th>
                <th scope="col">Site</th>
                <th scope="col">Latitude</th>
                <th scope="col">Longitude</th>
                <th scope="col">Action</th>
              </tr>
            </thead>

            <tbody>
              <% @services.each do |service| %>
                <tr scope="row">
                  <td><%= service.name %></td>
                  <td><%= service.office %></td>
                  <td><%= service.site %></td>
                  <td><%= service.latitude %></td>
                  <td><%= service.longitude %></td>
                  <td>
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <%= link_to '<button class="dropdown-item btn btn-light" type="button">Show</button>'.html_safe, service %>
                        <%= link_to '<button class="dropdown-item btn btn-light" type="button">Edit</button>'.html_safe, edit_service_path(service) %>
                        <%= link_to '<button class="dropdown-item btn btn-light" type="button">Destroy</button>'.html_safe, service, method: :delete, data: { confirm: 'Are you sure?' } %>
                      </div>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <%= link_to '<button class="btn btn-success" type="button"><i class="fas fa-plus"></i> New Service</button>'.html_safe, new_service_path %>
  <%= link_to '<button class="btn btn-primary" type="button"><i class="fa fa-arrow-left"></i> Back</button>'.html_safe, pages_path %>
  <br/>
  &nbsp
<% else %>
  <p id="notice"><%= notice %></p>
  <div class="card">
    <div class="text-center card-header">
      <h2><i class="far fa-gem"></i> Services</h2>
    </div>
  </div>
  <hr>
  <service-list></service-list>
  <googlemap></googlemap>
<% end %>