<% if current_user %> 
<div class="card scroll">
  <div class="card-header">
    <div class="text-center">
      <h3><i class="fas fa-book"></i> <%= @service.name %></h3>
    </div>
  </div>
  <div class="card-body text-white bg-dark">
  <p id="notice"><%= notice %></p>
    <p>
      <strong>Name:</strong>
      <%= @service.name %>
    </p>

    <p>
      <strong>Office:</strong>
      <%= @service.office %>
    </p>

    <p>
      <strong>Site:</strong>
      <%= @service.site %>
    </p>

    <p>
      <strong>Latitude:</strong>
      <%= @service.latitude %>
    </p>

    <p>
      <strong>Longitude:</strong>
      <%= @service.longitude %>
    </p>
  </div>
</div>
<%= link_to '<button class="btn btn-success" type="button"><i class="fas fa-pencil-alt"></i> Edit</button>'.html_safe, edit_service_path(@service) %>
<%= link_to '<button class="btn btn-primary" type="button"><i class="fa fa-arrow-left"></i> Back</button>'.html_safe, services_path %>
<br/>
<%else%>
  <div class="jumbotron">
  <div class="container">
    <h1>Access negate!</h1>
  </div>
  </div>
<%end%>