<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="text-center">
            <h3><i class="fas fa-pencil-alt"></i> User</h3>
          </div>
        </div>

        <div class="card-body bg-dark text-white scroll scroll-x">
          <div class="form-group">
            <div class="field">
              <%= form.label :email %>
              <%= form.text_field :email, :class => 'form-control' %>
            </div>

            <div class="field">
              <%= form.label :password %>
              <%= form.text_field :password, :class => 'form-control' %>
            </div>

            <div class="field">
              <%= form.label :password_confirmation %>
              <%= form.text_field :password_confirmation, :class => 'form-control' %>
            </div>

            <div class="actions">
              <%= form.submit :class => 'btn btn-secondary'  %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
