<% if current_user %> 

<%= render 'form', department: @department %>

<%= link_to '<button class="btn btn-success" type="button"><i class="fas fa-book-open"></i> Show</button>'.html_safe, @department %>
<%= link_to '<button class="btn btn-primary" type="button"><i class="fa fa-arrow-left"></i> Back</button>'.html_safe, departments_path %>

<br/>
&nbsp

<% else %>
  <div class="jumbotron">
  <div class="container">
    <h1>Access negate!</h1>
  </div>
  </div>
<% end %>