<% if current_user %> 
<div class="card scroll">
  <div class="card-header">
    <div class="text-center">
      <h3><i class="fas fa-book"></i> <%= @department.name %></h3>
    </div>
  </div>
  <div class="card-body text-white bg-dark">
    <p id="notice"><%= notice %></p>

    <p>
      <i class="fas fa-university"></i> <strong>Name:</strong>
      <%= @department.name %>
    </p>

    <p>
      <i class="fas fa-print"></i> <strong>Office:</strong>
      <%= @department.office %>
    </p>
  </div>
</div>

<%= link_to '<button class="btn btn-success" type="button"><i class="fas fa-pencil-alt"></i> Edit</button>'.html_safe, edit_department_path(@department) %>
<%= link_to '<button class="btn btn-primary" type="button"><i class="fa fa-arrow-left"></i> Back</button>'.html_safe, departments_path %>
<br/>
&nbsp
<% else %>
  <div class="jumbotron">
  <div class="container">
    <h1>Access negate!</h1>
  </div>
  </div>
<% end %>