<%= form_with(model: tutorial, local: true) do |form| %>
  <% if tutorial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tutorial.errors.count, "error") %> prohibited this tutorial from being saved:</h2>

      <ul>
      <% tutorial.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="text-center">
            <h3><i class="fas fa-pencil-alt"></i> <%=@tutorial.title%></h3>
          </div>
        </div>

        <div class="card-body text-white bg-dark scroll scroll-x">
          <div class="form-group">

            <div class="field">
              <%= form.label :title %>
              <%= form.text_field :title, :class => 'form-control' %>
            </div>

            <div class="field">
              <%= form.label :description %>
              <%= form.text_field :description, :class => 'form-control' %>
            </div>

            <div class="field">
              <%= form.label :site %>
              <%= form.text_field :site, :class => 'form-control' %>
            </div>
            <div class="actions">
              <%= form.submit :class => 'btn btn-secondary'  %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
