<% if current_user %> 
  <div class="row">
    <div class="col-sm-12">
    <div class="card bg-dark">
      <div class="text-center text-white card-header bg-dark">
        <h1><i class="fas fa-cogs"></i> Manage tutorials</h1>
      </div>
    </div>
      <hr>
      <div class="scroll-tab scroll-x-tab">
        <p id="notice"><%= notice %></p>
        <div class="table-responsive">
          <table class="table table-striped table-dark">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Site</th>
                <th scope="col">Action</th>
              </tr>
            </thead>

            <tbody>
              <% @tutorials.each do |tutorial| %>
                <tr scope="row">
                  <td><%= tutorial.title %></td>
                  <td><div class="scroll-td"><%= tutorial.description %></div></td>
                  <td><div class="scroll-x-td"><%= tutorial.site %></div></td>
                  <td>
                    <div class="dropdown"></div>
                      <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <%= link_to '<button class="dropdown-item btn btn-light" type="button">Show</button>'.html_safe, tutorial %>
                        <%= link_to '<button class="dropdown-item btn btn-light" type="button">Edit</button>'.html_safe, edit_tutorial_path(tutorial) %>
                        <%= link_to '<button class="dropdown-item btn btn-light" type="button">Destroy</button>'.html_safe, tutorial, method: :delete, data: { confirm: 'Are you sure?' } %>
                      </div>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <%= link_to '<button class="btn btn-success" type="button"><i class="fas fa-plus"></i> New Tutorial</button>'.html_safe, new_tutorial_path %>
  <%= link_to '<button class="btn btn-primary" type="button"><i class="fa fa-arrow-left"></i> Back</button>'.html_safe, pages_path %>
  <br/>
  &nbsp
<% else %>
  <p id="notice"><%= notice %></p>
  <div class="card">
    <div class="text-center card-header">
    <h2><i class="fas fa-book-open"></i> Tutorials</h2>
    </div>
  </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <tutorial-list></tutorial-list>
            </div>
            <div class="col-sm-6 col-lg-8">
                <tutorial-description></tutorial-description>
            </div>
            <div class="col-sm-12 col-lg-12">
              <div class="card text-center">
              <h5> Issues? Send us a message! <a href="https://www.facebook.com/INGUNIFE/"><i class="fab fa-facebook-square"></i></a></h5>
              </div>
            </div>
        </div>
    </div>
<% end %>