<% if current_user %>
<div class="card bg-dark">
  <div class="text-center text-white card-header bg-dark">
    <h2><i class="fas fa-user-shield"></i> Admin Section</h2>
  </div>
</div>

  <div class="card bg-dark">
    <div class="card-body  text-white scroll scroll-x">
      <h4><i class="fas fa-cogs"></i> Manage your tables</h4>
      <hr>
      <%= link_to raw('<h6><i class="fas fa-bookmark"></i> Courses </h6>'), courses_path, class: "nav-link" %>
      <%= link_to raw('<h6><i class="fas fa-university"></i> Departments </h6>'), departments_path, class: "nav-link" %>
      <%= link_to raw('<h6><i class="fas fa-gem"></i> Services </h6>'), services_path, class: "nav-link" %>
      <%= link_to raw('<h6><i class="fas fa-tags"></i> Tags </h6>'), tags_path, class: "nav-link" %>
      <%= link_to raw('<h6><i class="fas fa-book-open"></i> Tutorials </h6>'), tutorials_path, class: "nav-link" %>
      <%= link_to raw('<h6><i class="fas fa-user-cog"></i> Admin Users </h6>'), users_path, class: "nav-link" %>
      <%= link_to raw('<h6><i class="fas fa-sign-out-alt"></i> Logout</h4>'), sign_out_path, method: :delete, class: "nav-link" %>
    </div>
  </div>
<% else %>
  <div class="jumbotron">
    <div class="container">
      <h1>To acces this section please enter your credentials</h1>
      <%= link_to raw('<h6><i class="fas fa-sign-in-alt"></i> Login</h4>'), sign_in_path, class: "nav-link" %>
    </div>
  </div>
<% end %>