<% if current_user%>
<div class="card scroll">
  <div class="card-header">
    <div class="text-center">
      <h3><i class="fas fa-book"></i> <%= @tag.name %></h3>
    </div>
  </div>
  <div class="card-body text-white bg-dark">
    <p id="notice"><%= notice %></p>
    <p>
      <strong>Name:</strong>
      <%= @tag.name %>
    </p>

    <p>
      <strong>Type:</strong>
      <%= @tag.tag_type %>
    </p>
  </div>
</div>
<%= link_to '<button class="btn btn-success" type="button"><i class="fas fa-pencil-alt"></i> Edit</button>'.html_safe, edit_tag_path(@tag) %>
<%= link_to '<button class="btn btn-primary" type="button"><i class="fa fa-arrow-left"></i> Back</button>'.html_safe, tags_path %>
<br/>
<% else %>
  <div class="jumbotron">
  <div class="container">
    <h1>Access negate!</h1>
  </div>
  </div>
<% end %>