<template>
  <div class="col-12 col-lg-6">
    <div class="card">
      <div class="card-header">
            <h3><i class="fas fa-book"></i> {{course.name}}</h3>
      </div>
      <div class="card-body scroll">
        <div class="row">
          <div class="col-12">
            <p><i class="fas fa-door-open"></i> <b>Access:</b> {{course.access}}<br></p>
            <p><i class="fas fa-user-graduate"></i> <b>Students:</b> {{course.students}}<br></p>
            <p><i class="far fa-compass"></i> <b>Code:</b> {{course.course_class}}<br></p>
            <p><i class="far fa-clock"></i> <b>Duration:</b> {{course.duration}} years<br></p>
            <p><i class="fas fa-globe"></i> <b>Site:</b> <a :href="course.site"><b>Go to the site</b></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
    props: {
        course: {
            type: Object,
            required: true
        },
    },
};
</script>

<style scoped>
</style>
