<template>
  <div class="row">
    <div class="col-sm-12">
      <div class="accordion" id="accordionMap">
          <div class="card-margin-zero card">
            <div class="card-header form-inline navbar" id="headingMap">
              <button class="col-md-12 btn btn-light" type="button" data-toggle="collapse" data-target="#collapseMap" aria-expanded="true" aria-controls="collapseMap">
                <h3 class="text-center"><i class="fas fa-map-marked-alt"></i></h3>
              </button>
            </div>
            <div id="collapseMap" class="collapse" aria-labelledby="headingMap" data-parent="#accordionMap" v-if="this.flag==0">
              <div class="card-body form-inline navbar">
                <div class="col-12">
                  <br/>
                  <p><b>Please select before a department</b></p>
                </div>
              </div>
            </div>
            <div id="collapseMap" class="collapse show" aria-labelledby="headingMap" data-parent="#accordionMap" v-if="this.flag==1">
              <div class="card-body form-inline navbar">
                <div class="container">
                  <div class="col-12">
                    <gmap-map
                      :center="center"
                      :zoom="16"
                    >
                      <gmap-marker
                        :key="index"
                        v-for="(m, index) in markers"
                        :position="m.position"
                        v-on:click="center=m.position"
                      ></gmap-marker>
                    </gmap-map>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header form-inline navbar" id="headingService">
              <button class="col-md-12 btn btn-light collapsed" type="button" data-toggle="collapse" data-target="#collapseService" aria-expanded="false" aria-controls="collapseService">
                <h3 class="text-center"><i class="fas fa-info-circle"></i></h3>
              </button>
            </div>
            <div id="collapseService" class="collapse" aria-labelledby="headingService" data-parent="#accordionMap">
              <div class="card-body">
                <service></service>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { BUS } from 'packs/application.js'
export default {
  name: "GoogleMap",
  data() {
    return {
      center: { lat: 0, lng: 0 },
      markers: [],
      places: [],
      currentPlace: null,
      latitude: null,
      longitude: null,
      flag: 0,
    };
  },

  mounted() {
    //this.geolocate();
    BUS.$on('changeLatitude', this.changeLatitude);
    BUS.$on('changeLongitude', this.changeLongitude);
    BUS.$on('updateMap', this.updateMap);
    BUS.$on('resetResult', this.resetResult);
  },

  beforeDestroy () {
        BUS.$off('changeLatitude', this.changeLatitude);
        BUS.$off('changeLatitude', this.changeLongitude);
        BUS.$off('updateMap', this.updateMap);
        BUS.$off('resetResult', this.resetResult);
      },

  methods: {
    changeLatitude(latitude){
      var app = this;
      app.flag = 0;
      app.latitude = latitude;
    },
    changeLongitude(longitude){
      var app = this;
      app.longitude = longitude;
    },
    updateMap(){
      var app = this;
      app.flag = 1;
      console.log("In function marker "+ app.longitude + app.latitude);
      const marker = {
        lat: parseFloat(app.latitude),
        lng: parseFloat(app.longitude)
      };
      app.markers.push({ position: marker });
      app.center = marker;
    },
    setPlace(place) {
      this.currentPlace = place;
    },
    resetResult(){
      var app = this;
      app.flag = 0;
    },
//    geolocate: function() {
//       var app = this;
//       navigator.geolocation.getCurrentPosition(position => {
//         app.center = {
//           lat: position.coords.latitude,
//           lng: position.coords.longitude
//         };
//       navigator.geolocation.getCurrentPosition(
//   function(){console.log("success")},
//   function(){console.log("error")}
// );

//       });
//     }
  }
};
</script>