<template>
  <div class="col-12 col-lg-4">
    <div class="card">
      <h3 class="card-header"><i class="far fa-lightbulb"></i> Your Attitudes</h3>
      <div class="card-body scroll">
        <h3 class="card-title"><i class="fab fa-slack-hash"></i>Tags</h3>
        <form method="post" action="/result">
            <h3><span v-for="tag in tags" :key="tag.id" class="badge badge-success"><i class="fab fa-slack-hash"></i>{{tag.name}}</span></h3>
            <input v-for="tag in tags" :key="tag.id" type="hidden" :name=tag.id :value=tag.name>
            <input type="hidden" name="authenticity_token" :value="csrf">
            <button type="submit" class="btn btn-primary">Take me to the courses <i class="fas fa-arrow-right"></i></button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
  import { BUS } from 'packs/application.js'
  export default {
      data() {
          return {
              tags: [],
              csrf: document.getElementsByName('csrf-token')[0].content,
          }
      },
      mounted() {
        BUS.$on('addTag', this.addTag);
        BUS.$on('removeTag', this.removeTag);
      },
      beforeDestroy () {
        BUS.$off('addTag', this.addTag);
        BUS.$off('removeTag', this.removeTag);
      },
      methods: {
        addTag(tag){
          var app = this;
          if(app.tags.length < 6){
            app.tags.push(tag);
          }else{
            app.tags.push(tag);
            document.getElementById(tag.id).click();
            alert("Maximum number of tags reached!");
          } 
        },
        removeTag(tag){
          var app = this;
          var index = app.tags.indexOf(tag);
          app.tags.splice(index, 1);
        },
      },
  }
</script>

<style scoped>
</style>