<template>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header form-inline navbar">
          <h3 class="card-title form-group">Search your department here!</h3>
          <div class="input-group">
            <div class="input-group-prepend">
                <div class="dropdown">
                  <button v-if="this.dep_name == ''" class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-university"></i> Departments
                  </button>
                  <button v-if="this.dep_name != ''" class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-university"></i> {{ this.dep_name }}
                  </button>
                  <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="dropdownMenuButton1">
                      <div class="scroll scroll-x-dd">
                        <button class="dropdown-item" v-on:click="reset()"><p><i class="far fa-times-circle"></i> Reset </p></button>
                        <button v-for="department in departments" 
                        v-bind:department="department"
                        :key="department.id"
                        v-show="department.isVisible"
                        class="dropdown-item btn btn-light" :id="department.id" v-on:click="sendDepartment(department.latitude, department.longitude, department.name)" ><p><i class="fas fa-university"></i> {{ department.name }}</p></button>
                      </div>
                  </div>
                </div>
              <!--div class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></div>
              <input v-model="word" class="form-group form-control nav-item" type="text" name="searched-services" placeholder="Search for services">
              <button v-on:click="showServices()" type="button" class="btn btn-primary">Search</button-->
            </div>
          </div>
        </div>
        <div class="card-body form-inline navbar">
          <h5 class="card-text form-goup">Select your service here and put it on map!</h5>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="dropdown">
                  <button v-if="this.serv_name == ''" class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="far fa-gem"></i> Show services
                  </button>
                  <button v-if="this.serv_name != ''" class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="far fa-gem"></i> {{ this.serv_name }}
                  </button>
                  <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="dropdownMenuButton1">
                      <div class="scroll scroll-x-dd">
                        <button v-for="service in services" 
                          v-bind:service="service"
                          :key="service.id"
                          v-show="service.isVisible"
                          class="dropdown-item btn btn-light" :id="service.id" v-on:click="addOnMap(service)" ><p><i class="far fa-gem"></i> {{ service.name }}</p></button>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { BUS } from 'packs/application.js'
export default {
  data() {
    return {
      services: [],
      services_req: [],
      departments: [],
      dep_name: '',
      serv_name: '',
      word: '',
      csrf: document.getElementsByName('csrf-token')[0].content,
    };
  },
  created() {
    var app = this;
    var i = 0;
    axios.get("/services.json")
      .then(function(resp) {
        app.services_req = resp.data;
        console.log(resp.data);
        for(i=0;i<app.services_req.length;i++){
          app.services_req[i].index = i;
          app.services_req[i].isVisible = true;
        }
        app.services = app.services_req;
      })
      .catch(function(resp) {
        console.log(resp);
        alert("Could not load services");
      });

      axios.get("/departments.json")
      .then(function(resp) {
        app.departments = resp.data;
        console.log(resp.data);
        for(i=0;i<app.departments.length;i++){
          app.departments[i].index = i;
          app.departments[i].isVisible = true;
        }
      })
      .catch(function(resp) {
        console.log(resp);
        alert("Could not load departments");
      });
  },
  methods:{
    addOnMap(service){
        var app = this;
        app.serv_name = name;
        BUS.$emit('changeLatitude', service.latitude);
        BUS.$emit('changeLongitude', service.longitude);
        BUS.$emit('updateMap');
        BUS.$emit('serviceInfo', service);
    },

    // showServices(){
    //   var app = this;
    //   axios.post("")
    //   app.services.forEach(service => {
    //     if(service.name.includes(app.word)){
    //       app.$set(app.services[service.index], 'isVisible', true);
    //     }else{
    //       app.$set(app.services[service.index], 'isVisible', false);
    //     }
    //   });
    //   app.$forceUpdate();
    // },

    sendDepartment(lat, lng, name){
      var app = this;
      var i = 0;
      var bodyFormData = new FormData();
      app.dep_name = name;
      app.serv_name = '';
      //Da abilitare qual'ora si voglia vedere anche il dipartimento selezionato sulla mappa
      BUS.$emit('changeLatitude', lat);
      BUS.$emit('changeLongitude', lng);
      BUS.$emit('updateMap');

      bodyFormData.set('latitude', lat);
      bodyFormData.set('longitude', lng);
      bodyFormData.set('authenticity_token', app.csrf);
      axios.post('/servicesa.json', bodyFormData)
      .then(function(resp) {
        app.services = resp.data;
        console.log(resp.data);
        for(i=0;i<app.services.length;i++){
          app.services[i].index = i;
          app.services[i].isVisible = true;
        }
        if(i == 0)
        {
          alert("There aren't any near service");
          app.reset();
        }
      })
      .catch(function(resp) {
        console.log(resp);
        alert("Could not load services after department search");
      });
    },
    reset: function(){
      var app = this;
      app.dep_name = '';
      app.serv_name = '';
      app.services = app.services_req;
      BUS.$emit('resetResult');
    },
  },
};
</script>

<style scoped>
</style>
