<template>
  <div class="col-12">
    <p v-if="service.name != null"><i class="fas fa-align-left"></i> <b>Name:</b> {{ this.service.name }} </p>
    <p v-if="service.name != null"><i class="fas fa-home"></i> <b>Office:</b> {{ this.service.office }} </p>
    <p v-if="service.name != null"><i class="fas fa-globe"></i> <a :href="this.service.site"> <b>Site:</b> <b>Go to the website</b> </a> </p>
    <br/>
    <p v-if="service.name == null"> <b>Please select before a service</b></p>
  </div>
</template>

<script>
import { BUS } from 'packs/application.js'
export default {
  data() {
    return {
        service: [],
    };
  },

  mounted() {
    BUS.$on('serviceInfo', this.serviceInfo);
  },

  beforeDestroy () {
        BUS.$off('serviceInfo', this.serviceInfo);
        var app = this;
      },

  methods: {
    serviceInfo(service){
      var app = this;
      app.service = service;
    },
  }
};
</script>