<template>
    <div class="text-center">
        <button v-on:click="addToResult()" :id="id" type="button" class="btn btn-light"><i class="fab fa-slack-hash"></i>{{ tag.name }}</button>
        <br><br>
    </div>
</template>

<script>
    import { BUS } from 'packs/application.js'
    export default {
        props: {
            tag: {
                type: Object,
                required: true,
                clicked: false,
            },
        },
        data() {
            return {
                name: this.tag.name,
                id: this.tag.id,
                created_at: this.tag.created_at,
            }
        },
        methods: {
            addToResult() {
                var app = this;
                if(!app.tag.clicked){
                    document.getElementById(app.tag.id).className = "btn btn-success";
                    app.tag.clicked = true;
                    BUS.$emit('addTag', app.tag);
                } else {
                    document.getElementById(app.tag.id).className = "btn btn-light";
                    app.tag.clicked = false;
                    BUS.$emit('removeTag', app.tag);
                }
                    

            },
        },
    }
</script>

<style scoped>
</style>