<template>
  <div class="col-12 col-lg-8">
    <div class="card">
      <div class="card-header form-inline navbar">
            <h3 class="form-group"><i class="fab fa-slack-hash"></i> Tags</h3>
            <div class="row input-group">
              <div class="input-group-prepend">
                <div class="col-md-auto input-group-text"><i class="fa fa-search" aria-hidden="true"></i></div>
              </div>
              <input v-model="word" class="col-md-auto form-group form-control nav-item" type="text" name="searched-tags" placeholder="Search for tags">
              <button v-on:click="showTags()" type="button" class="col-md-auto btn btn-primary">Go!</button>
            </div>
      </div>
      <div class="card-body scroll">
        <div class="row">
          <tag v-for="tag in tags"
            v-bind:tag="tag"
            :key="tag.id"
            v-show="tag.isVisible">
          </tag>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      tags: [],
      word: '',
    };
  },
  created() {
    var app = this;
    var i = 0;
    axios.get("/tags.json")
      .then(function(resp) {
        app.tags = resp.data;
        console.log(resp.data);
        for(i=0;i<app.tags.length;i++){
          app.tags[i].index = i;
          app.tags[i].isVisible = true;
        }
      })
      .catch(function(resp) {
        console.log(resp);
        alert("Could not load tags");
      });
  },
  methods:{
    showTags(){
      var app = this;
      app.tags.forEach(tag => {
        if(tag.name.includes(app.word)){
          app.$set(app.tags[tag.index], 'isVisible', true);
        }else{
          app.$set(app.tags[tag.index], 'isVisible', false);
        }
      });
      app.$forceUpdate();
    },
  },
};
</script>

<style scoped>
</style>
