<template>
  <div class="btn-group-vertical" role="group">
      <button v-on:click="addToResult(tutorial)" :id="id" type="button" class="btn btn-light"><i class="fab fa-slack-hash"></i><b>{{ tutorial.title }}</b></button>
  </div>
</template>

<script>
  import { BUS } from 'packs/application.js'
  export default {
      props: {
          tutorial: {
            type: Object,
            required: true,
          },
      },
      data() {
          return {
            title: this.tutorial.title,
            id: this.tutorial.id,
            created_at: this.tutorial.created_at,
          }
      },
      methods: {
          addToResult(tutorial) {
            var app = this;
            BUS.$emit('addTutorial', tutorial);
          },
      },
  }
</script>

<style scoped>
</style>