<template>
  <div class="card">
    <div class="card-header form-inline navbar">
      <h3 class="form-group"><i class="fab fa-slack-hash"></i> Tutorial </h3>
      <div class="row input-group">
        <div class="input-group-prepend">
          <div class="col-md-auto input-group-text"><i class="fa fa-search" aria-hidden="true"></i></div>
        </div>
        <input v-model="word" class="col-md-auto form-group form-control" type="text" name="searched-tutorials" placeholder="Search tutorial">
        <br>
        <button v-on:click="showTutorials()" type="button" class="col-md-auto btn btn-primary">Go!</button>
      </div>
    </div>
    <div class="card-body scroll">
      <div class="row">
        <div class="col-1">
          <tutorial v-for="tutorial in tutorials"
            v-bind:tutorial="tutorial"
            :key="tutorial.id"
            v-show="tutorial.isVisible">
          </tutorial>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { BUS } from 'packs/application.js'
export default {
  data() {
    return {
      tutorials: [],
      word: '',
    };
  },
  created() {
    var app = this;
    var i = 0;
    var cont = 0;
    axios.get("/tutorials.json")
      .then(function(resp) {
        app.tutorials = resp.data;
        console.log(resp.data);
        for(i=0;i<app.tutorials.length;i++){
          app.tutorials[i].index = i;
          app.tutorials[i].isVisible = true;
        }
      })
      .catch(function(resp) {
        console.log(resp);
        alert("Could not load tutorials");
      });
  },
  methods:{
    showTutorials(){
      var app = this;
      app.tutorials.forEach(tutorial => {
        if(tutorial.title.includes(app.word)){
          app.$set(app.tutorials[tutorial.index], 'isVisible', true);
        }else{
          app.$set(app.tutorials[tutorial.index], 'isVisible', false);
        }
      });
      app.$forceUpdate();
    },
  },
};
</script>

<style scoped>
</style>
