<template>
  <div class="card">
      <div class="card-header form-inline navbar">
       <h3 class="card-title from-group"><i class="fas fa-align-left"></i> Description</h3>
        <!--h3 class="card-title" v-if="tutorial.description == null">Description</h3>
        <h3 class="card-title" v-else>{{ this.tutorial.title }}'s Description</h3-->
      </div>
      <div class="card-body scroll">
          <div class="row">
              <div class="col-12">
                <p v-if="this.tutorial.description == null">
                  <br/>
                  Please select a tag
                </p>
                <a :href="this.tutorial.site" v-else><i class="fas fa-globe"></i> <b><i class="fab fa-slack-hash"></i>{{ this.tutorial.title}}</b></a>
                <p>
                  {{ this.tutorial.description }}
                </p> 
              </div>
          </div>
      </div>
  </div>
</template>

<script>
import { BUS } from 'packs/application.js'
export default {
  data() {
    return {
        tutorial: [],
    };
  },

  mounted() {
    BUS.$on('addTutorial', this.addTutorial);
  },

  beforeDestroy () {
        BUS.$off('addTutorial', this.addTutorial);
      },

  methods: {
    addTutorial(tutorial_element){
      var app = this;
      app.tutorial = tutorial_element;
    },
  }
};
</script>