<%= form_with(model: course, local: true) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="text-center">
            <h3><i class="fas fa-pencil-alt"></i> <%=@course.name %> </h3>
          </div>
        </div>

        <div class="card-body text-white bg-dark scroll scroll-x">
          <div class="form-group">
            <div class="field">
              <%= form.label :name %>
              <br/>
                <%= form.text_field :name, :class => 'form-control' %>
            </div>

            <div class="field">
              <%= form.label :course_class %>
              <br/>
              <%= form.text_field :course_class, :class => 'form-control' %>
            </div>

            <div class="field">
              <%= form.label :site %>
              <br/>
              <%= form.text_field :site, :class => 'form-control' %>
            </div>

            <div class="field">
              <%= form.label :access %>
              <br/>
              <%= form.text_field :access, :class => 'form-control' %>
            </div>

            <div class="field">
              <%= form.label :students %>
              <br/>
              <%= form.number_field :students, :class => 'form-control' %>
            </div>

            <div class="field">
              <%= form.label :duration %>
              <br/>
              <%= form.number_field :duration, :class => 'form-control' %>
            </div>
            <br/>
            <div class="actions">
              <%= form.submit :class => 'btn btn-secondary'  %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
