<% if current_user %> 
<%= render 'form', course: @course %>

<%= link_to '<button class="btn btn-success" type="button"><i class="fas fa-book-open"></i> Show</button>'.html_safe, @course %>
<%= link_to '<button class="btn btn-primary" type="button"><i class="fa fa-arrow-left"></i> Back</button>'.html_safe, courses_path %>

<br/>
&nbsp
<% else %>
  <div class="jumbotron">
  <div class="container">
    <h1>Access negate!</h1>
  </div>
  </div>
<% end %>