<div class="text-center">
  <h2><i class="fas fa-poll-h"></i> Result</h2>
</div>
<hr>
<div class="row">
  <% if @courses.empty? %>
    <div class="col-12">
      <div class="card">
        <h4><i class="far fa-frown"></i> OH NO! You probably selected too much incompatible tags.</h4>
        <h4>Try to change them or to select less tags.</h4>
        <h4>But what about?</h3>
      </div>
    </div>
    <% @courses_random.each do |course| %>
        <course v-bind:course="<%= course.to_json %>" class="pop"></course>
    <%end%>
    <div class="col-12">
      <button class="col-md-auto btn btn-primary" role="button" onclick="location.href='/tags'">Go back <i class="fas fa-arrow-left"></i></button>
    </div>
  <% else %>
    <% @courses.each do |course| %>
      <course v-bind:course="<%= course.to_json %>"></course>
    <%end%>
    <div class="col-12">
      <button class="col-md-auto btn btn-primary" role="button" onclick="location.href='/tags'">Go back <i class="fas fa-arrow-left"></i></button>
    </div>
  <%end%>
</div>