<% if current_user %> 
<div class="card scroll">
  <div class="card-header">
    <div class="text-center">
      <h3><i class="fas fa-book"></i> <%= @course.name %> </h3>
    </div>
  </div>
  <div class="card-body text-white bg-dark">
    <p id="notice"><%= notice %></p>

    <p>
      <i class="fas fa-bookmark"></i> <strong>Name:</strong>
      <%= @course.name %>
    </p>

    <p>
      <i class="fas fa-puzzle-piece"></i> <strong>Class:</strong>
      <%= @course.course_class %>
    </p>

    <p>
      <i class="fas fa-link"></i> <strong>Site:</strong>
      <%= @course.site %>
    </p>

    <p>
      <i class="fas fa-universal-access"></i> <strong>Access:</strong>
      <%= @course.access %>
    </p>

    <p>
      <i class="fas fa-user-graduate"></i> <strong>Students:</strong>
      <%= @course.students %>
    </p>

    <p>
      <i class="fas fa-clock"></i> <strong>Duration:</strong>
      <%= @course.duration %>
    </p>
  </div>
</div>
<%= link_to '<button class="btn btn-success" type="button"><i class="fas fa-pencil-alt"></i> Edit</button>'.html_safe, edit_course_path(@course) %>
<%= link_to '<button class="btn btn-primary" type="button"><i class="fa fa-arrow-left"></i> Back</button>'.html_safe, courses_path %>
<br/>
&nbsp
<% else %>
  <div class="jumbotron">
  <div class="container">
    <h1>Access negate!</h1>
  </div>
  </div>
<% end %>