/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "font-awesome";

#myHeader{
    font-size: x-large;
}

.back {
    background: rgba(255, 255, 255, 0.4);
}

#logoUnife{
    height: 96px;
    width: 208px;
}

.scroll {
    max-height: 350px;
    overflow-y: auto;
}

.scroll-tab {
    max-height: 400px;
    overflow-y: auto;
}

.scroll-td {
    max-height: 100px;
    overflow-y: auto;
}

.scroll-x {
    max-height: 350px;
    overflow-x: auto;
}

.scroll-x-td {
    max-width: 100px;
    overflow-y: auto;
}

.scroll-x-dd {
    max-width: 300px;
    overflow-x: auto;
}

.scroll-x-tab {
    max-width: 100%;
    overflow-x: auto;
}

.card{
    margin-bottom: 15px;
    background: rgba(255, 255, 255, 0.7);
}

.card-header{
    background: rgba(255, 255, 255, 0.8);
}

.card-margin-zero{
    margin-bottom: 0px;
}

.nav-link:hover{
    background-color: transparent !important;
    color: lightgray !important;
}

.navbar-brand:hover {
    background-color: transparent !important;
}

.nav-link:focus {
    color: lightgray !important;
}

a:hover {
    background-color: transparent !important;
}

a:focus {
    color: lightgray !important;
}

p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

div {
  animation-duration: 2s;
  animation-name: fadein;
}

.pop{
    animation-duration: 3s;
}