// Place all the styles related to the services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.vue-map-container, .vue-map{
    width: 100%;
    height: 200px;
}