<nav class="navbar navbar-expand-lg navbar-light back text-center">
  <div class="col-sm-12 col-lg-12">
    <a class="navbar-brand" href="https://www.facebook.com/unife.it/"><i class="fab fa-facebook-square"></i></a>
    <a class="navbar-brand" href="https://www.instagram.com/unife.it/?hl=it"><i class="fab fa-instagram"></i></a>
    <a class="navbar-brand" href="https://www.linkedin.com/school/università-degli-studi-di-ferrara/"><i class="fab fa-linkedin"></i></a>
  </div>
</nav>