<nav class="navbar navbar-expand-lg navbar-light back">
  <a class="navbar-brand" href="https://www.unife.it"><img class="mx-auto d-block" src="/img/logo.png" alt="logounife" id="logoUnife"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto" id="myHeader">
      <li class="nav-item active ml-auto">
         <%= link_to raw('<h6><i class="fas fa-lightbulb"></i> Attitudes</h6>'), tags_path, class: "nav-link"  %>
      </li>
      <li class="nav-item active ml-auto">
        <%= link_to raw('<h6><i class="fas fa-gem"></i> Services </h6>'), services_path, class: "nav-link"  %>
      </li>
      <li class="nav-item active ml-auto">
        <%= link_to raw('<h6><i class="fas fa-book-open"></i> Tutorials</h6>'), tutorials_path, class: "nav-link"  %>
      </li>
      <li class="nav-item active ml-auto">
        <%= link_to raw('<h6><i class="fas fa-user-shield"></i> Admin</h6>'), pages_path, class: "nav-link"  %>
      </li>
      <% if current_user %>
        <li  class="nav-item active ml-auto">
          <%= link_to raw('<h6><i class="fas fa-sign-out-alt"></i> Logout</h4>'), sign_out_path, method: :delete, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>