<!DOCTYPE html>
<html>
  <head>
    <title>Wwwelcome</title>

    <!--script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlwdCJJ7cmhz4KRHsRSDMKWNBnTxFpTZY" ></script-->
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>

  </head>

  <body style="background-image: url('/img/unife.JPG'); background-size:cover;">
    <div class="container" id="app">
      <%= render "layouts/header" %>
      <hr>
      <%= yield %>
    </div>
     <%= render "layouts/footer" %>
  </body>
</html>
